/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body to avoid interference */
body, html {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d7e3fc;
}

/* Centering Container */
.centered-container {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  text-align: center;
}

.logo {
  font-size: 3.2em;
  margin-bottom: 20px;
}

.button {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  background-color: rgb(85, 118, 194);
  color: rgba(255, 255, 255, 0.87);
  border: 1px solid transparent;
  cursor: pointer;
  transition: border-color 0.25s;
}
.button:hover {
  border-color: #646cff;
}
